<form>
	<div class="login-container">
		<div class="login-content">
			<mat-toolbar class="login-toolbar" color="primary">Recipe Book</mat-toolbar>
			<mat-card>
				<form [formGroup]="loginForm" #formDirective="ngForm" 
  (ngSubmit)="onSubmit(loginForm, formDirective)" >
					<mat-form-field>
						<mat-icon matPrefix>person_outline</mat-icon>
						<input autofocus type="text" matInput placeholder="Username" formControlName="email">
					</mat-form-field>

					<mat-form-field>
						<mat-icon matPrefix>lock_outline</mat-icon>
						<input type="password" autocomplete="false" matInput placeholder="Password"  formControlName="password">
					</mat-form-field>

					<button type="submit" mat-raised-button color="primary">LOGIN</button>
        </form>
					<mat-toolbar class="login-toolbar" style="background-color:white">login with</mat-toolbar>
					<div class="socialMediaFlex">
						<button mat-fab color="primary"><i class="fab fa-facebook-f"></i></button>
						<button mat-fab color="accent"><i class="fab fa-google"></i></button>
					</div>
          <br>
          <span> If You don't have a account yet please <a (click) ="OnRegistrationClick()">REGISTER HERE</a></span>



				
			</mat-card>
		</div>
	</div>